<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-btc"></i> Mi Wallet</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-credit-card w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>$8,200</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Saldo Actual</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-arrow-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>$5,200</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Ingresos</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-arrow-down w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>$6,300</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Egresos</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>Ingresos</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-arrow-up w3-text-blue w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$1,200</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-red w3-large"></i></td>
            <td>2951849 - Coordinación de Servicio Social</td>
            <td><i>$800</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-yellow w3-large"></i></td>
            <td>2954530 - Coordinación de Patrimonio</td>
            <td><i>$300</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-red w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$250</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-blue w3-large"></i></td>
            <td>2951849 - Coordinación de Servicio Social</td>
            <td><i>$1800</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-red w3-large"></i></td>
            <td>2954530 - Coordinación de Patrimonio</td>
            <td><i>#400</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-up w3-text-green w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$530</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>Egresos</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-arrow-down w3-text-blue w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$1,200</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-red w3-large"></i></td>
            <td>2951849 - Coordinación de Servicio Social</td>
            <td><i>$800</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-yellow w3-large"></i></td>
            <td>2954530 - Coordinación de Patrimonio</td>
            <td><i>$300</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-red w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$250</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-blue w3-large"></i></td>
            <td>2951849 - Coordinación de Servicio Social</td>
            <td><i>$1800</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-red w3-large"></i></td>
            <td>2954530 - Coordinación de Patrimonio</td>
            <td><i>#400</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-down w3-text-green w3-large"></i></td>
            <td>2915154 - Coordinación de Tecnologías de Información</td>
            <td><i>$530</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Catalogo de Canje</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="assets/images/canje.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Servicio Social I</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="assets/images/canje.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Servicio Social II</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="assets/images/canje.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Servicio Social III</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Utimas Transacciones</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-medium" src="assets/images/qr.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>2915154 <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Coordinación de Tecnologías de Información.</p>
        <button class="w3-button w3-dark-grey">Transferir nuevamente <i class="fa fa-arrow-right"></i></button>
        <br>
      </div>
    </div>
    <br>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-medium" src="assets/images/qr.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>2951849 <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Coordinación de Servicio Social.</p>
        <button class="w3-button w3-dark-grey">Transferir nuevamente <i class="fa fa-arrow-right"></i></button>
        <br>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third"></div>
    </div>
  </div>
  <!-- End page content -->
</div>