<div>
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" (click)="w3_open()"><i
        class="fa fa-bars"></i> Mi WalletUDG</button>
    <span class="w3-bar-item w3-right"><img src="assets/images/bitcoin.png" class="w3-circle w3-margin-right"
        style="width:46px"></span>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"
    [style.display]="menuPress"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="assets/images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Bienvenido, <strong>2915154</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>WalletUDG</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-arrow-up"></i> Transferir</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-arrow-down"></i> Recibir</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-money"></i> Catalogo de Canje</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i> General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i> Noticias</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out"></i> Salir</a><br><br>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" style="cursor:pointer"
    [style.display]="menuPress" title="close side menu" id="myOverlay">
  </div>
</div>